<h1>Blinky</h1>
<div class="row">
  <div class="col-sm-8">
    <panel title="New Paste">
      <div class="panel panel-default">
        <div class="panel-heading">New Paste</div>
        <div class="panel-body">
          <div ui-view="newPaste"></div>
        </div>
      </div>
    </panel>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Recent</div>
      <div class="panel-body">
        <div ui-view="recentPastes"></div>
      </div>
    </div>
    </panel>
  </div>
</div>
